<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    fetch("/products/"+id+".json")
    .then(resp => resp.json())
    .then(json => {
      const inventoryText = `<strong>${(json["inventory"]>0) ? "Available": "Sold Out"}</strong>`;
      const description = `${json["description"]}`
      const html = `
      <p>Description: ${description} </p>
      <p>Inventory: ${inventoryText} </p>
      <ul>Orders:
        ${json["orders"].map(order=>`<li>id: ${order.id}; created_at: ${order.created_at}</li>`).join("")}
      </ul>`
      // const descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
      $("#product-" + id).html(html);

    })

    // $.get("/products/" + id + "/description", function(description) {
    //   $.get("/products/" + id + "/inventory", function(inventory) {
        // var inventoryText = "<strong>Available</strong>";
        // if(inventory === "false"){
        //   inventoryText = "<strong>Sold Out</strong>";
        // }
        // var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        // $("#product-" + id).html(descriptionText);
    //   });
    // });
  });
});
</script>
